<a href="https://colab.research.google.com/github/cassidyhanna/AB-Demo/blob/master/module4-logistic-regression/%20U2%2CS1%2CM4_Logistic.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Lambda School Data Science

*Unit 2, Sprint 1, Module 4*

---

# Logistic Regression


## Assignment ðŸŒ¯

You'll use a [**dataset of 400+ burrito reviews**](https://srcole.github.io/100burritos/). How accurately can you predict whether a burrito is rated 'Great'?

> We have developed a 10-dimensional system for rating the burritos in San Diego. ... Generate models for what makes a burrito great and investigate correlations in its dimensions.

- [ ] Do train/validate/test split. Train on reviews from 2016 & earlier. Validate on 2017. Test on 2018 & later.
- [ ] Begin with baselines for classification.
- [ ] Use scikit-learn for logistic regression.
- [ ] Get your model's validation accuracy. (Multiple times if you try multiple iterations.)
- [ ] Get your model's test accuracy. (One time, at the end.)
- [ ] Commit your notebook to your fork of the GitHub repo.
- [ ] Watch Aaron's [video #1](https://www.youtube.com/watch?v=pREaWFli-5I) (12 minutes) & [video #2](https://www.youtube.com/watch?v=bDQgVt4hFgY) (9 minutes) to learn about the mathematics of Logistic Regression.


## Stretch Goals

- [ ] Add your own stretch goal(s) !
- [ ] Make exploratory visualizations.
- [ ] Do one-hot encoding.
- [ ] Do [feature scaling](https://scikit-learn.org/stable/modules/preprocessing.html).
- [ ] Get and plot your coefficients.
- [ ] Try [scikit-learn pipelines](https://scikit-learn.org/stable/modules/compose.html).

In [0]:
%%capture
import sys

# If you're on Colab:
if 'google.colab' in sys.modules:
    DATA_PATH = 'https://raw.githubusercontent.com/LambdaSchool/DS-Unit-2-Linear-Models/master/data/'
    !pip install category_encoders==2.*
    !pip install pandas_profiling==2.*
    !pip install pandas-profiling==2.*
    

# If you're working locally:
else:
    DATA_PATH = '../data/'

In [0]:
# Load data downloaded from https://srcole.github.io/100burritos/
import pandas as pd
import numpy as np
import pandas_profiling as pp
import category_encoders as ce
from sklearn.dummy import DummyClassifier
from sklearn.impute import SimpleImputer
from sklearn.metrics import accuracy_score
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import mean_absolute_error, mean_squared_error, r2_score


df = pd.read_csv(DATA_PATH+'burritos/burritos.csv')

In [0]:
# Derive binary classification target:
# We define a 'Great' burrito as having an
# overall rating of 4 or higher, on a 5 point scale.
# Drop unrated burritos.
df = df.dropna(subset=['overall'])
df['Great'] = df['overall'] >= 4

In [0]:
# Clean/combine the Burrito categories
df['Burrito'] = df['Burrito'].str.lower()

california = df['Burrito'].str.contains('california')
asada = df['Burrito'].str.contains('asada')
surf = df['Burrito'].str.contains('surf')
carnitas = df['Burrito'].str.contains('carnitas')

df.loc[california, 'Burrito'] = 'California'
df.loc[asada, 'Burrito'] = 'Asada'
df.loc[surf, 'Burrito'] = 'Surf & Turf'
df.loc[carnitas, 'Burrito'] = 'Carnitas'
df.loc[~california & ~asada & ~surf & ~carnitas, 'Burrito'] = 'Other'

In [0]:
df.columns = [c.replace(' ', '_') for c in df.columns]
df.columns = [c.replace('.', '_') for c in df.columns]
df.columns = [c.replace("(g)","") for c in df.columns]
df.columns = [c.replace("(g/mL)","") for c in df.columns]

In [0]:
# Drop some high cardinality categoricals
df = df.drop(columns=['Notes', 'Location', 'Reviewer', 'Address', 'URL', 'Neighborhood'])

In [0]:
# Drop some columns to prevent "leakage"
df = df.drop(columns=['Rec', 'overall'])
#Change to datetime
#df['Date'] = df['Date'].astype(str)
df['Date'] = pd.to_datetime(df['Date'])
# set the dataframe index to date
df = df.set_index('Date')
# create a column that focus's on the year
df['Year'] = df.index.year

In [8]:
df

               Burrito  Yelp  Google Chips  ...  Corn  Zucchini  Great  Year
Date                                        ...
2016-01-18  California   3.5     4.2   NaN  ...   NaN       NaN  False  2016
2016-01-24  California   3.5     3.3   NaN  ...   NaN       NaN  False  2016
2016-01-24    Carnitas   NaN     NaN   NaN  ...   NaN       NaN  False  2016
2016-01-24       Asada   NaN     NaN   NaN  ...   NaN       NaN  False  2016
2016-01-27  California   4.0     3.8     x  ...   NaN       NaN   True  2016
...                ...   ...     ...   ...  ...   ...       ...    ...   ...
2019-08-27       Other   NaN     NaN   NaN  ...   NaN       NaN  False  2019
2019-08-27       Other   NaN     NaN   NaN  ...   NaN       NaN   True  2019
2019-08-27  California   NaN     NaN   NaN  ...   NaN       NaN  False  2019
2019-08-27       Other   NaN     NaN   NaN  ...   NaN       NaN   True  2019
2019-08-27       Other   NaN     NaN   NaN  ...   NaN       NaN   True  2019

[421 rows x 59 columns]

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 421 entries, 2016-01-18 to 2019-08-27
Data columns (total 59 columns):
Burrito          421 non-null object
Yelp             87 non-null float64
Google           87 non-null float64
Chips            26 non-null object
Cost             414 non-null float64
Hunger           418 non-null float64
Mass_            22 non-null float64
Density_         22 non-null float64
Length           283 non-null float64
Circum           281 non-null float64
Volume           281 non-null float64
Tortilla         421 non-null float64
Temp             401 non-null float64
Meat             407 non-null float64
Fillings         418 non-null float64
Meat:filling     412 non-null float64
Uniformity       419 non-null float64
Salsa            396 non-null float64
Synergy          419 non-null float64
Wrap             418 non-null float64
Unreliable       33 non-null object
NonSD            7 non-null object
Beef             179 non-null object
Pico             158 non-null object
Guac             154 non-null object
Cheese           159 non-null object
Fries            127 non-null object
Sour_cream       92 non-null object
Pork             51 non-null object
Chicken          21 non-null object
Shrimp           21 non-null object
Fish             6 non-null object
Rice             36 non-null object
Beans            35 non-null object
Lettuce          11 non-null object
Tomato           7 non-null object
Bell_peper       7 non-null object
Carrots          1 non-null object
Cabbage          8 non-null object
Sauce            38 non-null object
Salsa_1          7 non-null object
Cilantro         15 non-null object
Onion            17 non-null object
Taquito          4 non-null object
Pineapple        7 non-null object
Ham              2 non-null object
Chile_relleno    4 non-null object
Nopales          4 non-null object
Lobster          1 non-null object
Queso            0 non-null float64
Egg              5 non-null object
Mushroom         3 non-null object
Bacon            3 non-null object
Sushi            2 non-null object
Avocado          13 non-null object
Corn             3 non-null object
Zucchini         1 non-null object
Great            421 non-null bool
Year             421 non-null int64
dtypes: bool(1), float64(19), int64(1), object(38)
memory usage: 194.5+ KB

In [10]:
df.describe()

            Yelp     Google        Cost  ...        Wrap  Queso         Year
count  87.000000  87.000000  414.000000  ...  418.000000    0.0   421.000000
mean    3.887356   4.167816    7.067343  ...    3.979904    NaN  2016.410926
std     0.475396   0.373698    1.506742  ...    1.118185    NaN     0.896965
min     2.500000   2.900000    2.990000  ...    0.000000    NaN  2011.000000
25%     3.500000   4.000000    6.250000  ...    3.500000    NaN  2016.000000
50%     4.000000   4.200000    6.990000  ...    4.000000    NaN  2016.000000
75%     4.000000   4.400000    7.880000  ...    5.000000    NaN  2017.000000
max     4.500000   5.000000   25.000000  ...    5.000000    NaN  2026.000000

[8 rows x 20 columns]

In [11]:
df.head(10)

               Burrito  Yelp  Google Chips  ...  Corn  Zucchini  Great  Year
Date                                        ...
2016-01-18  California   3.5     4.2   NaN  ...   NaN       NaN  False  2016
2016-01-24  California   3.5     3.3   NaN  ...   NaN       NaN  False  2016
2016-01-24    Carnitas   NaN     NaN   NaN  ...   NaN       NaN  False  2016
2016-01-24       Asada   NaN     NaN   NaN  ...   NaN       NaN  False  2016
2016-01-27  California   4.0     3.8     x  ...   NaN       NaN   True  2016
2016-01-28       Other   NaN     NaN   NaN  ...   NaN       NaN  False  2016
2016-01-30  California   3.0     2.9   NaN  ...   NaN       NaN  False  2016
2016-01-30    Carnitas   NaN     NaN   NaN  ...   NaN       NaN  False  2016
2016-02-01  California   3.0     3.7     x  ...   NaN       NaN  False  2016
2016-02-06       Asada   4.0     4.1   NaN  ...   NaN       NaN  False  2016

[10 rows x 59 columns]

In [12]:
df.isnull().sum()

Burrito            0
Yelp             334
Google           334
Chips            395
Cost               7
Hunger             3
Mass_            399
Density_         399
Length           138
Circum           140
Volume           140
Tortilla           0
Temp              20
Meat              14
Fillings           3
Meat:filling       9
Uniformity         2
Salsa             25
Synergy            2
Wrap               3
Unreliable       388
NonSD            414
Beef             242
Pico             263
Guac             267
Cheese           262
Fries            294
Sour_cream       329
Pork             370
Chicken          400
Shrimp           400
Fish             415
Rice             385
Beans            386
Lettuce          410
Tomato           414
Bell_peper       414
Carrots          420
Cabbage          413
Sauce            383
Salsa_1          414
Cilantro         406
Onion            404
Taquito          417
Pineapple        414
Ham              419
Chile_relleno    417
Nopales          417
Lobster          420
Queso            421
Egg              416
Mushroom         418
Bacon            418
Sushi            419
Avocado          408
Corn             418
Zucchini         420
Great              0
Year               0
dtype: int64

In [13]:
train = df[df['Year'] <= 2016]
val = df[df['Year'] == 2017]
test = df[df['Year'] >= 2018]
train.shape,val.shape,test.shape

((298, 59), (85, 59), (38, 59))

In [14]:
train.Great.value_counts(normalize= True)

False    0.590604
True     0.409396
Name: Great, dtype: float64

In [15]:
val.Great.value_counts(normalize= True)

False    0.552941
True     0.447059
Name: Great, dtype: float64

In [0]:
 categorical_features = train.describe(exclude='number')

In [0]:
categorical_feature_mask = train.dtypes==object

In [18]:
 categorical_features

           Burrito Chips Unreliable NonSD  ... Avocado Corn Zucchini  Great
count          298    22         27     5  ...      13    2        1    298
unique           5     2          1     2  ...       1    2        1      2
top     California     x          x     x  ...       x    x        x  False
freq           118    19         27     3  ...      13    1        1    176

[4 rows x 39 columns]

In [19]:
train.describe(include='number')

            Yelp     Google        Cost  ...        Wrap  Queso         Year
count  71.000000  71.000000  292.000000  ...  296.000000    0.0   298.000000
mean    3.897183   4.142254    6.896781  ...    3.955068    NaN  2015.979866
std     0.478680   0.371738    1.211412  ...    1.167341    NaN     0.295187
min     2.500000   2.900000    2.990000  ...    0.000000    NaN  2011.000000
25%     3.500000   4.000000    6.250000  ...    3.500000    NaN  2016.000000
50%     4.000000   4.200000    6.850000  ...    4.000000    NaN  2016.000000
75%     4.000000   4.400000    7.500000  ...    5.000000    NaN  2016.000000
max     4.500000   4.900000   11.950000  ...    5.000000    NaN  2016.000000

[8 rows x 20 columns]

In [0]:
target = 'Great'
features = ['Yelp','Google','Cost','Length','Circum','Volume','Tortilla','Temp']

In [21]:
X_train = train[features]
y_train = train[target]
X_val = val[features]
y_val = val[target]
X_test = test[features]
y_test = test[target]
X_train.shape, y_train.shape,X_val.shape,y_val.shape, X_test.shape, y_test.shape

((298, 8), (298,), (85, 8), (85,), (38, 8), (38,))

**Baseline**

In [22]:
y_train.value_counts(normalize=True)

False    0.590604
True     0.409396
Name: Great, dtype: float64

In [0]:
# Majority class
majority_class = y_train.mode()[0]
y_pred = [majority_class] * len(y_train)

In [24]:
accuracy_score(y_train,y_pred)

0.5906040268456376

In [25]:
#fit DummyClassifier
baseline = DummyClassifier(strategy='most_frequent')
baseline.fit(X_train,y_train)

#Make predictions on val set
y_val_pred = baseline.predict(X_val)
accuracy_score(y_val,y_val_pred)

0.5529411764705883

In [0]:
#impute
imputer = SimpleImputer(strategy='mean')
X_train_imputed = imputer.fit_transform(X_train)
X_val_imputed = imputer.transform(X_val)

In [27]:
encoder = ce.OneHotEncoder(use_cat_names = True)
X_train_encoded = encoder.fit_transform(X_train_imputed)
X_val_encoded = encoder.transform(X_val_imputed)

X_train_encoded.shape,X_val_encoded.shape

((298, 8), (85, 8))

In [28]:
# Import estimator class
from sklearn.linear_model import LinearRegression

# Instantiate this class
linear_reg = LinearRegression()
linear_reg.fit(X_train_imputed, y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [29]:
linear_reg.predict(X_val_imputed)

array([ 0.65064006,  0.34763066,  0.53138899,  0.53446251,  0.17246926,
        0.10163028,  0.73369874,  0.4302021 ,  0.61342886,  0.81861254,
        0.6814896 ,  0.0665614 ,  0.26665898,  0.1296919 ,  0.84500398,
        0.24270132,  0.34794289,  0.48765922,  0.34359257,  0.91981296,
        0.51791903,  0.37564963,  0.37306478,  0.35972964,  0.53991757,
        0.49409606,  0.09975711,  0.5192457 ,  0.17983742,  0.44558356,
        0.74921326,  0.52360612,  0.11346115,  0.41273904, -0.10735077,
       -0.05351471,  0.49436132,  0.650346  ,  0.53514757,  0.60474491,
        0.72666784,  0.27537755,  0.51826215,  0.59546248,  0.78191097,
        0.60034258,  0.82737206,  0.56122827,  0.64786661,  0.27973545,
        0.36778506,  0.53831528,  0.390122  ,  0.39110379,  0.26659157,
        0.32714524,  0.15566974,  0.04597867,  0.48729474,  0.29330056,
       -0.27886675,  0.39535041,  0.4088467 ,  0.55914427,  0.72338785,
        0.71446626,  0.6076061 ,  0.61240147,  0.36356473,  0.56349663,
        1.77021709,  0.75645414,  0.68747791,  0.58573913,  0.26224652,
        0.3575933 , -0.07663856,  0.55115853,  0.59710232,  0.67807171,
        0.39039301,  0.42648932,  0.43995171,  0.53327362,  0.91635398])

In [30]:
pd.Series(linear_reg.coef_,features)

Yelp        0.120877
Google     -0.033042
Cost        0.071247
Length      0.172563
Circum      0.309714
Volume     -4.393267
Tortilla    0.196148
Temp        0.107672
dtype: float64

**Logistic Regression**

In [33]:
# Instantiate class

log_reg = LogisticRegression(solver='lbfgs', max_iter=1000 )
log_reg.fit(X_train_imputed,y_train)
print(f'Validation Accuracy Score:', log_reg.score(X_val_encoded,y_val))

Validation Accuracy Score: 0.5647058823529412

In [0]:
y_val_pred = log_reg.predict(X_val_encoded)

In [38]:
X_test_imputed  = imputer.transform(X_test)
X_test_encoded = encoder.transform(X_test_imputed)
print(f'Validation Accuracy Score:', log_reg.score(X_test_encoded,y_test))

Validation Accuracy Score: 0.6052631578947368

In [39]:
log_reg.predict(X_test_encoded)

array([ True,  True, False,  True,  True,  True, False,  True, False,
        True,  True,  True,  True, False,  True,  True,  True, False,
       False, False, False, False,  True,  True,  True,  True, False,
        True,  True,  True, False, False,  True,  True,  True,  True,
        True, False])